body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
#header {
  color: coral;
}
h1 {
  font-size: 70px;
  color: rgb(59, 55, 55);
}
h2 {
  font-size: 50px;
  color: rgb(59, 55, 55);
}
h3 {
  font-size: 20px;
  color: rgb(59, 55, 55);
}
.display-formatting {
  display: flex;
  margin-bottom: 100px;
}
.width-setting {
  width: 50%;
  padding-left: 5%;
  padding-top: 5%;
}
.width-setting img {
  width: 70%;
}
#adding-button {
  text-decoration: none;
  background-image: linear-gradient(pink, orange);
  color: white;
  font-weight: 734;
  padding: 10px 35px;
  border-radius: 32px;
}
.display-formatting2 {
  display: flex;
  margin-bottom: 100px;
}
.width-setting2 {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.width-setting2 img {
  width: 60%;
  padding-left: 35%;
}
.adding-bg {
  background-image: url(bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.text-formatting {
  text-align: center;
}
.align-settings {
  margin-left: 25%;
  margin-right: 25%;
}
.formatting {
  display: flex;
}
.food-item {
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
  box-shadow: 10px 10px 55px gray;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 22px;
}
.My-recipies {
  background-image: url(exp-bg.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
#all-food {
  border-image-slice: 1;
}
.alignment {
  display: flex;
}
.food-item img {
  width: 100%;
  padding-top: 5%;
}
#engagement {
  border: 100px;
  display: flex;
  border-radius: 20px;
  box-shadow: 10px 10px 50px #c9c9c9;
  margin: 50px;
}
.arrangement {
  padding-left: 160px;
  padding-right: 160px;
}
.footer {
  text-align: center;
  background-color: lightblue;
  padding-top: 2%;
  padding-bottom: 5%;
}
